TOKEN=

CAMERAS_URL=https://telraam-api.net/v1/cameras
SEGMENTS_URL=https://telraam-api.net/v1/segments/id/
TRAFFIC_URL=https://telraam-api.net/v1/reports/traffic
TRAFFIC_URL_ADVANCED=https://telraam-api.net/advanced/reports/traffic
REPORTS_URL=https://telraam-api.net/v1/reports/

SEGMENTS_ID="XXXXXXX,XXXXXXX"
INSTANCES_ID="XXXX,XXXX"